@model TechnologyReview.Models.Catagory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row"></div>

<div>
    <h4>Catagory</h4>
    div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            @*or text center after caption would work too!*@
        <h3 class="text-center">@Html.DisplayNameFor(model => model.Type)</h3>
        <h3 class="text-center">@Html.DisplayFor(model =>model.Type)</h3>
       
    </div>
</div>
</div>






    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
